<div class="col-12 col-md-3 mb-2 my-2">
 
        <div class="card" style="width: 14rem;">
            <div class="card-header text-center">
                <h4 class="my-0 font-weight-bold">{{nombre}}<h4>
            </div>
            <div class="card-body text-center">
                <img id="{{nombre}}" src="assets/png/{{nombre}}.png" class="card-img-top" alt="...">
                <h5 class="card-title">Precio $ {{precio}}</h5>
                <p class="card-text">Descripcion</p>
                <button class="btn btn-primary mb-3" onclick="comprar('{{nombre}}')">Comprar</button>
            </div>
        </div>
  
</div>